header{
	text-align:center;
}
body {
	font-style:inherit;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }
 body:after{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    opacity: 0.2;
  }
  nav{
	text-align: center;
  }
  nav li { 
	font-style:initial;
    display: inline;
	border: none;
	position: static;
    width: 500px;
    height: 100px;
    margin:20px;
    padding:0;
    font-size: 20px;
    text-align: center;
  }
  nav li:hover{
	color: skyblue;
  }
  .inline-block{
	display: inline-block;
	border: none;
	margin: 20px;
	width: 200px; height: 250px;
	position: relative;
	left: 250px;
  }
  .inline-block > img{
	width: 200px;
	height: 250px;
  }
  table{
    margin-left: 30%;
  }
  #form1{
    text-align: center;
  }
  footer{
	background-color: azure;
    text-align: left;
  }
  .tg  {
    border-collapse:collapse;
    border-spacing:0;
    margin-left: auto;
    margin-right: auto;
  }
  .tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:16px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
  }
  .tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:16px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
  }
  .tg .tg-5r9u
  {background-color:#656565;
    border-color:inherit;
    color:#ffffff;
    font-family:Verdana, Geneva, sans-serif !important;
    font-weight:bold;
    text-align:center;
    vertical-align:top
  }
  .tg .tg-894n{
    background-color:#656565;
    color:#ffffff;
    font-family:Verdana, Geneva, sans-serif !important;
    font-weight:bold;
    text-align:center;
    vertical-align:top
  }
  .tg .tg-czlc{
    font-family:Verdana, Geneva, sans-serif !important;
    font-weight:bold;
    text-align:center;
    background-color: ivory;
    vertical-align:top;
  }
  .tg .tg-0lax{
    font-family:Verdana, Geneva, sans-serif !important;
    font-weight:bold;
    text-align:center;
    background-color: ivory;
    vertical-align:top;
  }
  .tg .tg-s5hn{
    font-family:Verdana, Geneva, sans-serif !important;
    font-weight:bold;
    text-align:center;
    background-color: ivory;
    vertical-align:top;
  }
  article p{
    color: #656565;
  }
  p{
    font-family: inherit;
    font-size: 25px;
    font-weight: bold;
  }
  span{
    font-family: inherit;
    font-weight: bold;
  }

  